


:root {
  --light-text: #ffffff;
  --dark-text: #252525;
  --score-text:#a39d9d;
  --outline: hsl(217, 16%, 45%);
  --shadow-light: #00000026;
  --shadow-med: #0000004d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto" ;
  background: #8CC461;
  min-height: 100vh;
  text-transform: uppercase;
  color: var(--light-text);
}


.container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  border: 3px solid white;
  border-radius: 20px;
  padding: 1rem 1.4rem 1rem 2rem;
}

.logo img {
  height: 100%;
}

.score1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  width: 150px;
  height: 100%;
  line-height: 1;
}


.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    width: 150px;
    height: 100%;
    line-height: 1;
  }
  
  .score__title {
    
    letter-spacing: 0.1em;
    color: var(--score-text);
    text-align: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 20px;
  }
  
  .score__number {
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark-text);
  }
  
  .score__number1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark-text);
  }

/* Game */
.game {
  position: relative;
  display: grid;
  grid-template-columns: (repeat(2, 1fr));
  grid-template-areas:
    "rock scissors"
    "paper paper";
  place-items: center;
  height: 30rem;
  padding-top: 4rem;
}
.game::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 28%;
  top: 35%;
  background: url("./images/bg-triangle.svg") no-repeat;
  z-index: -1;
}

.choice-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.choice {
  position: relative;
  width: 10rem;
  height: 10rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  
}
.choice::before,
.choice::after {
  content: "";
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;
}

.choice::after {
  opacity: 0;
  transition: opacity 0.1s ease;
}


.choice img {
  transform: scale(1.5);
}

.choice.paper::before {
  background: #FFA943;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
}
.choice.scissors::before {
  background: #BD00FF;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
}
.choice.rock::before {
    background-color:  #0074B6;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
}

.choice-btn[data-choice="paper"] {
  grid-area: paper;
}
.choice-btn[data-choice="scissors"] {
  grid-area: scissors;
}
.choice-btn[data-choice="rock"] {
  grid-area: rock;
}

/* Results */
.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-template-areas:
    "you-title ai-title"
    "you-picked ai-picked";
  max-width: 1000px;
  margin: 0 auto;
}

.results__heading {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 4rem 0 8rem;
}
.results__result {
  min-width: 10rem;
  min-height: 10rem;
  background: #16213d;
  border-radius: 50%;
  transform: scale(1.4);
  z-index: -1;
}

.results__heading:first-of-type {
  grid-area: you-title;
}
.results__heading:last-of-type {
  grid-area: ai-title;
}
.results__result:first-of-type {
  grid-area: you-picked;
}
.results__result:last-of-type {
  grid-area: ai-picked;
}

.results.show-winner {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "you-title . ai-title"
    "you-picked result-winner ai-picked";
}

.winner .choice::after {
  box-shadow: 0 0 0 30px #46ab08, 0 0 0 60px #1DA82BC9, 0 0 0 90px #1DA82BC9;
  animation: winner 1s ease forwards;
}

@keyframes winner {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.results__winner {
  grid-area: result-winner;
  display: grid;
  place-items: center;
}
.results__text {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1.5rem;
}
.play-again {
  background: #fff;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  color: var(--dark-text);
  padding: 0.6rem 3.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.play-again1 {
  position: relative;
  left: 50%;
  top: 30px;
  background: #fff;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  color: var(--dark-text);
  padding: 0.6rem 3.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.play-again:focus {
  border: 2px solid var(--outline);
}

/* Rules Button */
.rules-btn {
  position: absolute;
  bottom: 2rem;
  right: 10rem;
  background: none;
  outline: none;
  border: 2px solid white ;
  border-radius: 0.6rem;
  color: var(--light-text);
  padding: 0.6rem 2.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.rules-btn:focus {
  border: 2px solid #fff;
}

.next-btn {
 display:none;
  position: absolute;
  bottom: 2rem;
  right: .5rem;
  background: none;
  outline: none;
  border: 2px solid white ;
  border-radius: 0.6rem;
  color: var(--light-text);
  padding: 0.6rem 2.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.rules-btn:focus {
  border: 2px solid #fff;
}

/* Rules Modal */
.modal {
  position: absolute;
 
  top: 30%;
  left: 80%;
  display: flex;
 
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.modal__header {

 display: block; 
}


.close-btn {
  border: solid 6px rgb(236, 235, 235); 
  display: flex;
  position: relative;
  right: -256px;
  top: 20px;
 
  border-radius: 50%;

  background: red;
  cursor: pointer;
}

.show-modal {
  opacity: 1;
  pointer-events: initial;
}

/* nextpage */

.modal1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  place-items: center;
  background: #8CC461;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  
}
.modal__container1{
  position: absolute;
  height: 400px;
  width: 300px;
  right: 50%;
  top: 10%;
}

.show-modal1 {
  opacity: 1;
  pointer-events: initial;
}



.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: #ff652f;
}

/* Utilities */
.preload * {
  transition: none;
}

.hidden {
  display: none;
}
